<head>
    <link rel="stylesheet" href="./dashboard.css" />
</head>

<main id="main-holder">
    <p> <a href="/displayIndex">Log Out</a></p>
    <h1 class="dashboard-title">Dashboard</h1>
    <p> <a href="/displayGameSession">Play Now</a></p>
</main>

<script src="/files/newaccountpage.js"></script>