<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess</title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="icon" type="image/jpg" href="img/favicon.jpg" />
    <link rel="stylesheet" href="./index.css" />
</head>
<body>
      <main id="main-holder">
        <div class="container">
            <h1 class="welcome">Welcome to KubeChess!</h1>
            <p> <a href="/displayLoginPage">Existing User Login</a></p>
            <p> <a href="/displayAccountCreationPage">Create a New Account</a></p>
          </div>      
    </main>
</body>